
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section script{
<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/array.js"></script>
    }

<h2>Gallery</h2>


<div style="width: 200px; height: 100%; top:5%; position: absolute; background: red">
    <br>

    <p class="aaa"><b>MENU</b></p>
    <a href="">Фильтр картинок</a> <br>
    <label>
        <input type="checkbox" value=".jpg"> .jpg
    </label>
    <br>
    <label>
        <input type="checkbox" value=".png"> .png
    </label>
    <br>
    <label>
        <input type="checkbox" value=".gif"> .gif
    </label>
    <br>
    <!--<button> Filter </button>-->

</div>

<div id="Gallery"></div>


@*<div class="spoiler">
    <p class="title"> Бюстгалтер 1 </p> <br>
    <img class="big-desc" src="~/Content/image/canvas.png" style="float:left">
</div>
<div class="spoiler">
    <p class="title"> Бюстгалтер 2 </p> <br>
    <img class="big-desc" src="~/Content/image/canvas2.gif" style="float:left">
</div>
<div class="spoiler">
    <p class="title"> Бюстгалтер 3 </p> <br>
    <img class="big-desc" src="~/Content/image/canvas3.jpg" style="float:left">
</div>
<div class="spoiler">
    <p class="title"> Бюстгалтер 4 </p> <br>
    <img class="big-desc" src="~/Content/image/canvas4.png" style="float:left">
</div>
<div class="spoiler">
    <p class="title"> Бюстгалтер 5 </p> <br>
    <img class="big-desc" src="~/Content/image/canvas5.gif" style="float:left">
</div>
<div class="spoiler">
    <p class="title"> Бюстгалтер 6 </p> <br>
    <img class="big-desc" src="~/Content/image/canvas6.gif" style="float:left">
</div>*@
