
@{
    ViewBag.Title = "Main Page";
}

@section script{
    <script src="~/Scripts/spoiler.js"></script>
    <script src="https://yastatic.net/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<script src="~/Scripts/hint.js"></script>*@
    @*<script src="~/Scripts/checkboxGallery.js"></script>
    <script src="~/Scripts/ImageMagnification.js"></script>*@
    @*<script src="~/Scripts/DeleteImage.js"></script>*@

}

<h2>Description</h2>

<div id="Description">
    <div class="spoiler">
        <p class="title"><b>1. AAA</b><span class="toolti">Symbol 'A'</span></p>
        <div class="big-desc">
            aaaaaaaaaaaaaaaaaaaaaaaaaaa
            <br />
            aaaaaaaaaaaaaaaaaaaaaaaaaaa
            <br />
            aaaaaaaaaaaaaaaaaaaaaaaaaaa
        </div>
    </div>
    <br />
    <div class="spoiler">
        <p class="title"><b>2. BBB</b><span class="toolti">Symbol 'B'</span></p>
        <div class="big-desc">
            bbbbbbbbbbbbbbbbbbbbbbbbbbb
            <br />
            bbbbbbbbbbbbbbbbbbbbbbbbbbb
            <br />
            bbbbbbbbbbbbbbbbbbbbbbbbbbb
        </div>
    </div>
    <br />
    <div class="spoiler">
        <p class="title"><b>3. CCC</b><span class="toolti">Symbol 'C'</span></p>
        <div class="big-desc">
            ccccccccccccccccccccccccccc
            <br />
            ccccccccccccccccccccccccccc
            <br />
            ccccccccccccccccccccccccccc
        </div>
    </div>
    <br />
    <div class="spoiler">
        <p class="title"><b>4. DDD</b><span class="toolti">Symbol 'D'</span></p>
        <div class="big-desc">
            ddddddddddddddddddddddddddd
            <br />
            ddddddddddddddddddddddddddd
            <br />
            ddddddddddddddddddddddddddd
        </div>
    </div>
</div>


