
@{
    ViewBag.Title = "NewGallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section script{
    @*<script src="~/Scripts/main.js"></script>*@
    <script src="~/Scripts/checkboxGallery.js"></script>
    <script src="~/Scripts/ImageMagnification.js"></script>
    @*<script src="~/Scripts/DeleteImage.js"></script>*@

}

<h2>New Gallery</h2>

<body id="body-content-Gallery">
    <div id="ImageFilter">
        <p>
            <b class="checkboxHeader">Image filter</b>
        </p>
        @*<a href="">Фильтр картинок</a> <br>*@
        <div style="float:left; margin-right: 50px">
            <label>
                <input type="checkbox" checked value=".jpg"> .jpg
            </label>
        </div>
        <div style="float:left; margin-right: 50px;">
            <label>
                <input type="checkbox" checked value=".png"> .png
            </label>
        </div>
        <div style="float:left; margin-right: 50px;">
            <label>
                <input type="checkbox" checked value=".gif"> .gif
            </label>
        </div>
    </div>
    


    @using (Html.BeginForm("DeleteImage", "Home", FormMethod.Post))
    {
        <div id="Gallery" style="position: relative;">

        </div>
    }
    <a href="/Home/LoadImage" class="add-new-image_btn">Add new image</a>
</body>

