
@{
    ViewBag.Title = "SaveUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SaveUser</h2>

@using (Html.BeginForm("SaveUser", "Home", FormMethod.Post))
{
    <input type="text" name="username" />
    <input type="submit"/>
}

<table>
    @foreach (var u in ViewBag.Us)
    {
        <tr>
            <td>
                @u.Name
            </td>
            <td>
                <a href="/Home/Remove/@u.Id">Удалить</a>
            </td>
        </tr>
    }
</table>
